@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: radial-gradient(circle, rgba(215,180,18,1) 0%, rgba(242,207,0,1) 25%, rgba(205,113,21,1) 97%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ProseMirror-focused {
  outline: none;
}

.input-class::placeholder {
  color: #050505; /* Set placeholder text color */
}